@import "tipografia";

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
        text-decoration: none;
        border-radius: 5px ;
        background-color:antiquewhite;
        padding: 5px;
    }
  
}  
a {
    text-decoration: none;
    color: black;
}